<body>
            <div class="container-fluid bg-secondary">
                
                
                <div class="row text-white text-center" style="padding-top: 50px;">
                    
                  <div class="col m-4">
                    <h1 class="display-4 mb-4">Welcome to Photobook</h1> 
                    
                    <div class="underline mb-4"></div>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui accusamus eveniet eius totam accusantium porro quidem ipsam consequatur ipsum iste!</p>
                  </div>
                </div>
            </div>
          </body>